* {
  color:#21243D;
}
@font-face {
  font-family: Heebo1;
  src: url(./assets/fonts/Heebo-Regular.ttf);
}
@font-face {
  font-family: Heebo2;
  src: url(./assets/fonts/Heebo-Bold.ttf);
}
.container1{
  display: flex;
  justify-content: flex-end;
  margin: auto;
  font-family: Heebo2;
  font-size: 1.1em;
  font-weight: 500;
  line-height: 4em;
  letter-spacing: 0em;
}
.container2{
  max-width: 858px;
  margin: auto;
  display: flex;
}
.left-block {
  width: 60%;
  text-align: left;
}
.right-block {
  width: 40%;
  padding-left: 53px;
  padding-top: 55px;
}
.description {
    font-family: Heebo1;
    font-size: 16px;
    line-height: 23.5px;
    font-weight: 400;
    max-width: 497px;
}
.title {
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    font-family: Heebo2;
    font-weight: 700;
}
.right-block img{
    width: 243px;
    height: 243px; 
    clip-path: circle();
    border-radius: 50%;
}
.btn1{
    border-radius: 2px;
    border: solid 2px #FF6464;
    background: #FF6464;
    color: #FFFFFF;
    height: 47px;
    width: 208px;
}
.container3{
  max-width: 100%;
  margin: auto;
  background-color: #EDF7FA;
}
.row-container{
  max-width: 858px;
  display: flex;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: space-between;
  font-family: Heebo1;
}
.sp4{
  font-size: 1.1em;
}
.sp5{
  color: #00A8CC;
  font-size: 1em;
}
.coloumn-container{
  max-width: 858px;
  display: flex;
  margin: auto;
  padding-bottom: 30px;
  justify-content: space-between;
  gap: 20px;
}
.block{
  background-color: #FFFFFF;
  padding: 15px;
  width: 418px;
  height: 295px;
  text-align: left;
}
.sp6{
  font-family: Heebo2;
  font-size: 26px;
  font-weight: 700;
  line-height: 38.19px;
}
.sp7{
  font-family: Heebo1;
  font-size: 18px;
  font-weight: 400;
  line-height: 26.44px;
}
.sp8{
  font-family: Heebo1;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.5px;
}
.container4{
  display: grid;
  margin: auto;
  max-width: 858px;
}
.p3{
font-family: Heebo1;
font-size: 22px;
font-weight: 400;
line-height: 60px;
}
.img2, .img3, .img4{
width: 246px;
height: 180px;
top: 1088px;
left: 146px;
gap: 0px;
border-radius: 3%;
opacity: 0px;
}
.block1, .block2, .block3{
  display: flex;
  margin: auto;
  max-width: 858px;
  gap: 10px;
}
.block-img{
  padding-top: 12px;
}
.sp9{
  font-family: Heebo2;
  font-size: 30px;
  font-weight: 700;
  line-height: 44.06px;
  text-align: left;
}
.sp10{
  font-family: Heebo1;
  font-size: 18px;
  font-weight: 400;
  line-height: 29.38px;
  text-align: left;
  color: #8695A4;
}
.sp11{
  font-family: Heebo1;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.5px;
  text-align: left;
}
.disc{
  background-color: #142850;
  width: 70px;
  height: 25px;
  gap: 0px;
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 12px;
  color: #FFFFFF;
  font-family: Heebo1;
  font-size: 16px;
  font-weight: 850;
  line-height: 60px;
  text-align: left;
}
.hr{
    color:#E0E0E0;
    display: flex;
    max-width: 858px;
    border: 1px 0px 0px 0px;
}