* {
  outline: 1px solid red;
  color:#21243D;

}
@font-face {
  font-family: Heebo1;
  src: url(Heebo-Regular.ttf);
}
@font-face {
  font-family: Heebo2;
  src: url(Heebo-Bold.ttf);
}
.container1{
  display: flex;
  justify-content: flex-end;
  font-family: Heebo2;
  font-size: 1.1em;
  font-weight: 500;
  line-height: 4em;
  letter-spacing: 0em;
}
.container2{
  max-width: 858px;
  margin: auto;
  display: flex;
  }
  .left-block {
  width: 60%;
  text-align: left;
  }
  
  .right-block {
  width: 40%;
  padding-top: 53px;
  }
  .description {
    font-family: Heebo1;
    font-size: 16px;
    line-height: 23.5px;
    font-weight: 400;
    max-width: 497px;
  }
  .title {
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    font-family: Heebo1;
    font-weight: 700;
  }
  .right-block img{
    width: 243px;
    height: 243px; 
    clip-path: circle();
    border-radius: 50%;
  }
.btn1{
    border-radius: 2px;
    border: solid 2px #FF6464;
    background: #FF6464;
    color: #FFFFFF;
    height: 47px;
    width: 208px;
}
.container3{
  background-color: #EDF7FA;
  display: flex;
  flex-direction: column; 
  padding: 1rem;
}
.div33{
  font-family: Heebo1;
  font-weight: 400;
  line-height: 5em;
}
.inner-container{
  width: 858px;
}
.fluid-container{
  display: flex;
  justify-content: space-between;
}
.content-container {
  display: grid;
  grid-template-columns: 430px 440px; 
  justify-content: center;
  font-family: Heebo1;
letter-spacing: 0px;
text-align: left;  
gap: 23px;
margin-bottom: 1%;
padding: 0rem; 
}
.block{
  background: #FFFFFF;
  padding: 4%;
}
.sp4{
  font-size: 1.1em;
  padding-left: 10rem;
}
.sp5{
  color: #00A8CC;
  font-size: 1em;
  padding-left: 5rem;
}
.sp6, .sp9{
  font-family: Heebo2;
font-size: 26px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0px;
}
.p3{
  font-family: Heebo1;
font-size: 22px;
font-weight: 400;
line-height: 60px;
padding-left: 11.3rem;
}
.img2, .img3, .img4{
  width: 246px;
height: 180px;
top: 1088px;
left: 146px;
gap: 0px;
border-radius: 3%;
opacity: 0px;

}
.container4, .container5, .container6{
  display: flex;
  gap: 10px;
  padding-left: 11.3rem;
}
.box2, .box4, .box6 {
  text-align: left;
  flex: 2;
}

.box1 , .box3, .box5{
justify-content: center;
}
.sp12, .sp15, .sp18{
  font-family: Heebo2;
font-size: 30px;
font-weight: 700;
line-height: 44.06px;
text-align: left;
}
.disc{
background-color: #21243D;
color: #FFFFFF;
width: 7%;
height: 4%;
padding: 0.5%;
border-radius: 11px 10px 11px 11px;
font-family: Heebo2;
font-size: 18px;
font-weight: 100;
line-height: 60px;
text-align: center;
}
.sp13, .sp16, .sp19{
  font-family: Heebo1;
  color: #8695A4;
font-size: 20px;
font-weight: 400;
line-height: 29.38px;
text-align: left;
}
.sp14, .sp17, .sp20{
  font-family: Heebo1;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.5px;
  text-align: left;
  color: #21243D;   
  padding-top: 5%;
}
.hr{
  color:#E0E0E0;
  width: 59%;
  border: 1px 0px 0px 0px;
  padding-left: 11.3%;
}

