* {
  outline: 1px solid red;
}
.container1{
  display: flex;
  justify-content: flex-end;
  font-family: 'Heebo', sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  line-height: 4em;
  letter-spacing: 0em;
}
.container2{
  display: flex;
}
.left-block {
  flex: 1; 
  padding: 4rem; 
  text-align: left;
}

.right-block {
  flex: 0; 
  padding: 5rem; 
}
.right-block img{
  width: 243px;
  height: 243px; 
  clip-path: circle();
  border-radius: 50%;
}
.p1{
  font-family: 'Heebo', sans-serif;
font-size: 3em;
font-weight: 700;
line-height: 1.5em;
letter-spacing: 0em;
}
.p2{
  font-family: 'Heebo', sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0em;
}
.btn1{
    border-radius: 2px;
    border: solid 2px #FF6464;
    background: #FF6464;
    color: #FFFFFF;
    height: 47px;
    width: 208px;
}
.container3{
  background-color: #EDF7FA;
  display: flex;
  flex-direction: column; /* Align children in column */
  padding: 20px; 
}
.div33{
  display: flex;
  justify-content: space-around;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  line-height: 5em;
}
.content-container {
  display: flex;
  font-family: Heebo;
letter-spacing: 0px;
text-align: left;
align-items: center;
justify-content: center;
}
.sp4{
  font-size: 1.1em;
}
.sp5{
  color: #00A8CC;
  font-size: 1em;
}
.left-block1,
.right-block1 {
  background: #FFFFFF;
  width: 418px; 
  height: 295px;
  margin: 10px; 
}
.sp6{
  font-size: 26px;
  font-weight: 700;
  line-height: 38px;
  width: 374px;
}
